body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #151F2B !important;
  color: white !important;
}

html, body {
  width: 100%; 
}

.btn-warning {
  background-color: #F28B04 !important;
}

.btn-dark {
  background-color: #374251 !important;
}